<h1>Impressum</h1>
<h2>Angaben gemäß § 5 TMG:</h2>
<p><br>David Osipov</p>
<h3>Postanschrift:</h3>
<p>Musterstraße 123<br>12345 Musterstadt<br></p>
<h3>Kontakt:</h3>
<p>Telefon: 123456789<br>E-Mail: muster@mail.de</p>
<p></p><h3>Vertreten durch:</h3>
<p>David Osipov<br></p>
<p></p><p><br></p>
<p></p><h2>Hinweise zur Website</h2>
<p></p><h2>Information gemäß § 36 VSBG</h2>
<p>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in Verbrauchersachen) erklärt der Betreiber dieser Website:</p>
<p>Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
<p></p><p><em>Das Impressum wurde mit dem <a href="https://www.activemind.de/datenschutz/impressums-generator/">Impressums-Generator der activeMind AG</a> erstellt.</em></p>
<p>Diese Seite dient lediglich zur Übung</p>